<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>蔡晨</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13954562839</string>
			<key>hobby</key>
			<string>阅读：读书、读报、看小说。。。运动：篮球、足球。。。饮食：中餐、西餐。。。旅游：国内旅游、国外旅游、长途旅游、短途旅游。。。音乐：流行的、古典的、摇滚的、轻音乐的。。。饮茶：绿茶、红茶、乌龙茶、沱茶。。。影视：电影、连续剧、短剧、戏剧。。。书籍：文学、哲学、经济、政治。。。业余爱好：赋诗、书法、音乐、作画。。。服饰：运动、正式、休闲。。。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈春丽</string>
			<key>age</key>
			<string>19</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18330181554</string>
			<key>hobby</key>
			<string>本人性格开朗，喜欢交朋友，日常生活中可静可动，随性自如，有着作为女生细心，有眼力见，但缺少主见，有选择恐惧症。有时间的时候喜欢逛街，买衣服，爱打扮，喜欢看新上映的美国大片，有钱的时候就去旅游吃大餐，没钱的时候就遛马路吃路边摊，生活随性。最大的梦想就是买东西不用看价格，为了这个梦想的实现本人正在努力中。</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>傅芝珍</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18230016709</string>
			<key>hobby</key>
			<string>本人爱好素描，但是一直没有机会去学习。喜欢旅游，最主要的是喜欢吃。喜欢拍照，所以等工作已一定要买个好的相机。在运动方面，我是挺喜欢打羽毛球的。其实内心是挺喜欢读书的，人丑就得需要多读书，但是嘛，看过的书没几本，等以后还是要多读书、多运动，增强自己的气质，因为最主要还是看气质。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>樊盛</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18712941007</string>
			<key>hobby</key>
			<string>1、我的爱好就是陪媳妇儿一块儿看最新上映的电影（主要是那些美国拍的电影），陪她逛吃逛吃一整天。2、我自己的爱好就是做菜，喜欢研究一道菜，喜欢研究怎么做出来最好吃最有味道吃起来最香。3、还有一个爱好就是喜欢整理自己房间，直到自己觉得特别干净为止。</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>郭旭</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13253161850</string>
			<key>hobby</key>
			<string>勤劳勇敢，诚实守信；爱读书，肯学习，愿意虚心的向他人请教，面对问题不逃避敢于迎难直上；热爱运动，喜欢打羽毛球，踢足球，最喜欢一个人静静的看书。喜欢看动漫，看小说，对动漫有详细的了解。不喜欢漫画，讨厌抗日神剧，对于中国的电影不太喜欢。本人生活经历丰富，对专业知识有扎实的基础，对待学习的态度认真严谨，是一个热爱生活的人。</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>郝文举</string>
			<key>age</key>
			<string>26</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15133193296</string>
			<key>hobby</key>
			<string>1、喜爱电子竞技，尤其是竞技过程中团队协作的感觉，但不会沉迷。2、爱好读书，看别人的生活，提升自己的眼界与胸怀。3、运动，身体才是革命的本钱。4、和朋友调侃，享受友谊。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郝凤佩</string>
			<key>age</key>
			<string>27</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13261255760</string>
			<key>hobby</key>
			<string>热爱运动，业余时间会叫上小伙伴来一场挥汗如雨的篮球比赛。喜欢钻研，搞技术时可以宅在家中一整天。向往与人交流，了解百味人生。善于团队合作，一起做完美的项目。</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>焦焕然</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>15613815390</string>
			<key>hobby</key>
			<string>喜欢安静,喜欢看书,喜欢画画</string>
		</dict>
	</array>
	<key>L</key>
	<array>
        <dict>
            <key>name</key>
            <string>李家琳</string>
            <key>age</key>
            <string>23</string>
            <key>gender</key>
            <string>female</string>
            <key>phoneNumber</key>
            <string>15832865520</string>
            <key>hobby</key>
            <string>我的性格比较慢热，之前很内向，上大学之后慢慢变得比较开朗起来，喜欢交朋友，为人和善，乐于助人。平时唯一喜欢的运动就是打羽毛球，在女生中打的算是比较好的，也会一点点乒乓球，但是打的不是很好，超级讨厌跑步。除此之外，还喜欢和朋友一起逛街，各种逛。不喜欢自己独处。还喜欢看剧 ，搞笑电影，各种搞笑类的综艺节目。</string>
        </dict>
        <dict>
            <key>name</key>
            <string>卢桥东</string>
            <key>age</key>
            <string>23</string>
            <key>gender</key>
            <string>female</string>
            <key>phoneNumber</key>
            <string>18332292360</string>
            <key>hobby</key>
            <string>人的爱好多种多样，有新奇绝妙的，有平淡无奇的，我的爱好虽不新奇，却广泛的连父母也时常感叹。而在这众多的爱好中。我还是对读书情有独钟。我从小就喜欢看书。小时侯，爸爸给我买的书籍不计其数，我一有空闲时间就沉醉于那优美的语句，丰富的想象中。书就像一位博学多才的老师，带我徜徉知识的海洋，教给我用之不竭的知识。</string>
        </dict>
		<dict>
			<key>name</key>
			<string>刘伟宁</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18855584698</string>
			<key>hobby</key>
			<string>唱歌、K歌、听音乐、看电影、看韩剧、看综艺娱乐节目、看书、看小说、看杂志、逛街、购物、了解市场的行情、演奏乐器、去健身房健身、减肥、塑形、足球、篮球、排球、跑步、羽毛球、乒乓球、保龄球、游泳、划船、水上娱乐、登山、郊游、钓鱼、养鱼</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李建军</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13333038466</string>
			<key>hobby</key>
			<string>我叫李建军，来自张家口宣化区，是一个性格比随和的人，从小喜欢下中国象棋，喜欢研究残局。喜欢喝朋友打台球，去KTV唱歌，平时周末比较喜欢看电视剧，喜欢熬夜。在无聊的时候喜欢听歌，听歌的风格一般都是平静的，比较向往安静的生活，所以偶尔练练字，看看名句。就这样，我的生活圈子有点小，不是每个人都能记得我，最喜欢的一句名言就是：己所不欲勿施于人。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘惠萍</string>
			<key>age</key>
			<string>保密</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>15105363643</string>
			<key>hobby</key>
			<string>喜欢吃肉！吃肉！吃肉！(¯﹃¯)吃肉也是可以减肥的，看我就知道了~~还有就是喜欢撸串！！！！！不开心的时候就撸串，瞬间就好了~有喜欢的可以一起呗~还有爱旅游喜欢到处看看风景，陶冶一下~爱看电影，特别是喜剧片，喜欢笑，也特别感性！看个小说也能哭的稀里哗啦。有个喜欢逛街的心，但是，又特别懒，不想走路，走着走着就累了，就不想走了，但是还是想逛(⊙﹏⊙)，最后强调一下，我想吃肉了！！吃猪蹄！！！(¯﹃¯)猪蹄猪蹄！！！撸串撸串！！！O(∩_∩)O~~</string>
		</dict>
		<dict>
			<key>name</key>
			<string>雷文豪</string>
			<key>age</key>
			<string>25</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15010120048</string>
			<key>hobby</key>
			<string>听歌,听相声,刷刷新闻(凤凰卫视).</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘延秋</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15731471331</string>
			<key>hobby</key>
			<string>我觉得自己应该是个乐观,开朗的人,在为人处世方面很在乎对方的感受,也比较天真,总以为自己就是全世界,喜欢和朋友一起游玩,一起游戏,看电影,有时也会被一些好的书籍迷惑,高兴的时候不管不顾,有时也喜欢静静的呆着总是天真地想把快乐感染给他人,遇到恶劣的天气会很高兴.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘亚彬</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18332103733</string>
			<key>hobby</key>
			<string>本人拥有广泛的兴趣爱好，爱生活爱运动，爱唱歌爱睡觉，生活积极向上，喜欢接触新鲜事物。我认为二十岁的时候，不要花精力和时间去犹豫和纠结什么选择是最好的，因为没有人知道，有想法就大胆地去尝试，感受不同的生活，多尝试工作类型、多读书、多旅行、多谈恋爱、多结交朋友，把这些该交的学费都交了，如此一来，三十岁以后，你才有可能从容不迫地过自己想要的生活。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘兵爽</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18332137571</string>
			<key>hobby</key>
			<string>我性格比较内向,但熟络以后待人热情贴心,因为我属于比较慢热型的，所以我的喜好都相对来说比较安静,比如说看电影,看小说,喜欢宫崎骏的动漫,最最喜欢和朋友走在路上谈天说地,当然静静地也是可以的;我有一颗爱旅游的心,但重点是我哪也没去过,不过还好我学了ios,我相信在不久的未来,我会走遍天下;</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>马泽坤</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13633317395</string>
			<key>hobby</key>
			<string>平常的时候喜欢宅在家，不平常的时候喜欢打篮球。在家的时候喜欢玩电脑，看电视。打篮球的时候喜欢在篮球场上瞎跑或者站着。玩电脑的时候喜欢玩游戏，站着的时候喜欢思考人生。玩游戏的时候喜欢玩手机，思考人生的时候喜欢思考几点睡觉。玩手机的时候喜欢睡觉，思考几点睡觉的时候就想睡觉。总之我就想睡觉。为什么不直接说睡觉。因为不够一百五十字。</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>name</key>
			<string>潘腾龙</string>
			<key>age</key>
			<string>25</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18331916162</string>
			<key>hobby</key>
			<string>我比较喜欢打乒乓球，游泳，音乐，还有旅行。在乒乓球和游泳方面，个人比较孤独，没有对手。偶尔喜欢看看书，喜欢一些经典的东西，比如歌曲、书籍等。经典都是经过岁月的风蚀而沉淀下来的精华。本人还特别喜欢民族乐器和一些民族乐器演奏的音乐。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>潘文利</string>
			<key>age</key>
			<string>保密</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>13331102348</string>
			<key>hobby</key>
			<string>喜欢接触新鲜事物，追求自由，喜欢音乐，美食，旅游，读书。性格开朗，安静，良好的亲和力，为人比较随和，喜欢结交朋友，但是性格也比较感性,难免以感觉来判断事物，然而性格也具有可塑性，和理性的人一起想法也会趋于理性。</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>乔春晓</string>
			<key>age</key>
			<string>25</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13623234169</string>
			<key>hobby</key>
			<string>听歌，比如：往事只能回味，一次就好，春泥，家，小幸运，大王叫我来巡山，孟婆的碗，一眼万年，蝶，假如，演员，聊聊，All Right，叶子，野子，默等等。喜欢走路健身，但是很奇怪减不了肥，目前也没时间长时间走路，</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙佳伟</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18331919130</string>
			<key>hobby</key>
			<string>成为像孙中山一样的人，怀抱佳人，成为伟人，所以我叫孙佳伟，河北省石家庄市深泽县人。我是一个曾经比较内向的人，经过大学的洗练，从一个文艺小愤青，变成一个逗比小青年，总结起来很简单，就是：逗比点，挺好。爱好很简单，好玩的都爱玩，好看的都爱看，没事还喜欢自嗨，人活着开心就好。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沈亚琦</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18230016978</string>
			<key>hobby</key>
			<string>我的爱好是看视频，看偶像，在上了大学的时候我爱上了看小说，把大部分的时间都浪费到上面，我的爱好总体上的是只要能不动脑子的又能带来乐趣的我想他都会成为我的个人爱好，所以我的爱好是随着时间的推移可能会发生变化的</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋明岐</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15369955622</string>
			<key>hobby</key>
			<string>一个人静静地陶醉在音乐与朋友分享好的影视作品在轮滑场上感受自己飘逸的身姿尽情畅游在自己喜欢的书中享受健身后肌肉发胀的感觉用吉他弹奏出喜欢的旋律喜欢一切美好的事物微笑，然后静静地看着别人装 *</string>
		</dict>
		<dict>
			<key>name</key>
			<string>史京辉</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18330672115</string>
			<key>hobby</key>
			<string>比较喜欢火影，作品设定在一个忍者的世界，故事从主人公漩涡鸣人的孤儿生活开始，他的父母为了保护村子，将攻击村子九尾妖狐封印到了他体内，鸣人因此受尽了村人的冷落，只是拼命用各种恶作剧试图吸引大家的注意力。好在还是有依鲁卡老师的关心，鸣人的性格才没有变得扭曲，他总是干劲十足、非常乐观。为了让更多的人认可自己，鸣人的目标是成为火影。整个故事就围绕鸣人的奋斗、成长，鸣人的同伴们的故事，以及这个忍者世界的各种争斗和阴谋展开。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>史京平</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15731322851</string>
			<key>hobby</key>
			<string>东京食尸鬼	在纷乱嘈杂的现代化城市——东京，蔓延着一种吞食人类的怪物，人们称之为喰种。他们外表与人几乎没有差异，但却只以人类为食，是人类的天敌。那一日，金木研——上井大学的一名普通学生——遇上了某位神秘女子神代利世小姐（实为喰种），进而卷入了一场精心策划的事故。自此，被改造为半人半喰种，一度感到孤独无助的他却被“古董”咖啡店的喰种收留，但好景不长，喰种组织“青铜树”很快找到了他并被带走承受酷刑，最终明白“软弱即是罪恶”，并决意变强，从此走上了另一条路。</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>田家旭</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18678269665</string>
			<key>hobby</key>
			<string>我的性格偏于内向，为人坦率、热情、讲求原则；处事乐观、专心、细致、头脑清醒；富有责任心、乐于助人。 我还是一个正直忠诚、勤奋求实的人，会不断追求人格的自我完善；明显的特点是乐观自信、温和开朗、稳重宽厚，因此，我人际关系和谐，适应环境能力较强。爱好电脑、科普知识，喜欢钻研，正因为这些增强了我的实干精神，习惯事情或问题及早解决。最大的满足感在于该做的事顺利完成，以便有精力去关注其他，也就是追求感觉上的自我良好或优越感。最大的缺点是对没有秩序感的人可能缺乏足够的耐心，也可能因为心太细，会让别人误解我的一番好意。&quot;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>田芙祯</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18230016706</string>
			<key>hobby</key>
			<string>喜欢看科幻电影，尤其是英国，美国，关于龙的，魔法的电影，还有希腊神话的电影，我很喜欢的一部关于魔法的英国电视剧《梅林》。喜欢去河里捉鱼，去山上。喜欢在家里待着。还喜欢动漫《秦时明月》。</string>
		</dict>
	</array>
	<key>W</key>
	<array>
        <dict>
            <key>name</key>
            <string>王闯</string>
            <key>age</key>
            <string>23</string>
            <key>gender</key>
            <string>male</string>
            <key>phoneNumber</key>
            <string>18730959592</string>
            <key>hobby</key>
            <string>我是一个比较喜欢运动的男孩，休闲的时候经常叫上小伙伴一起打篮球，记得初中和高中只要一有时间就会打篮球，有时候一打就是一天，那种酣畅淋漓的感觉真的很好。除了打篮球外，还喜欢打乒乓球，曾经还拿过奖，完全是自学成材，所以经常没事就虐虐小学生，基本没有对手，因此孤独是我人生的一大悲哀！现在呢，比较喜欢LOL，也是属于没对手的状况，对于这个游戏我只能说靠的是智商，所以还是那两个字：孤独。当然，还有很多兴趣爱好，希望有机会再给大家分享吧。</string>
        </dict>
        <dict>
            <key>name</key>
            <string>温哲</string>
            <key>age</key>
            <string>22</string>
            <key>gender</key>
            <string>female</string>
            <key>phoneNumber</key>
            <string>15732025233</string>
            <key>hobby</key>
            <string>喜欢听歌,喝咖啡</string>
        </dict>
        <dict>
            <key>name</key>
            <string>王博然</string>
            <key>age</key>
            <string>20</string>
            <key>gender</key>
            <string>male</string>
            <key>phoneNumber</key>
            <string>18547557273</string>
            <key>hobby</key>
            <string>玩,旅游,爬山,看海,打篮球,打游戏,轮滑,听歌,健身,看书,看电影,咖啡,还有代码.鸟悄儿的我走了,正如我蔫巴的来;我得了八嗖的招手，磨叽西天的云彩。那泡子边的金柳，是夕阳中的媳妇儿；波光里的倩磴儿，在我的心头固用.埋了巴汰的青幸，油了巴几的在水底赛脸；在康河的旮旯里，我甘心做一把蒿子。那榆吟下的一座，不是蘑菇，是个猫楼；揉希碎在浮躁间，沉淀着贼拉彩虹的梦。嘎哈啊？划拉一把笤帚疙瘩，向青菜贼青那嘎的漫溯；整一兜子星辉，在星辉斑斓里嗷唠两嗓子。但我不能嗷唠，悄悄是滚犊子的笙箫；扑勒蛾子也为我蔫儿了，蔫儿了是这宿儿的康桥！我傻的巴几地走了，正如我飚的喝得来；我得瑟得瑟衣袖,不带走一嘎达云彩</string>
        </dict>
		<dict>
			<key>name</key>
			<string>王星星</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18332393976</string>
			<key>hobby</key>
			<string>我的爱好是玩，很想去旅游，想来一次说走就走的旅行，奈何资金不够；除了旅游就是比较喜欢吃好吃的，标准的吃货；喜欢听歌，也喜欢唱歌，所以可以找我一起去唱歌；还喜欢看电视剧，看电影，有时候也会看书；个人性格还算是比较开朗，比较喜欢交朋友，喜欢跟人聊天；人无完人，我感觉我脑子比较笨，接受新事物会比较慢，所以在今后的学习中，我希望可以有人多多帮助我，我们一起努力学习，共同进步</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王代鑫</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15733171300</string>
			<key>hobby</key>
			<string>爱浪漫睡觉发呆散打中国象棋打游戏酒创业个人简介： 来自贵州习水的一个村里，没钱还爱浪漫，我觉得最浪漫的事是和MM 夜里走在城市的街道上，含着棒棒糖！本人  性格开朗、语言风趣幽默，声音低沉性感，稳重、有活力，待人热情、真诚。工作认真负责，积极主动，能吃苦耐劳。自信心强。思想活跃。有较强的组织能力、实践动手能力和团队协作精神，能迅速的适应各种环境，并融于其中！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>吴一波</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18833715626</string>
			<key>hobby</key>
			<string>我是一个乐观的人，兴趣爱好主要有乒乓球，羽毛球，旅游和游泳。从初中就开始打乒乓球了，那时下课就和同学一起跑去球桌，因为先到先得，甚至把球拍放球桌上占位置。羽毛球最主要是和家人一起玩，以前家里买来羽毛球和羽毛球拍，然后就喜欢玩这个了。游泳的话是从小时候就开始游了，高中之前每年夏天都会和小伙伴去河里游泳（现在河里水质不行了，没有再去游了）。说起旅游是从大学开始的，有几个假期和同学一起出去旅旅游，看看风景那种感觉很惬意的。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王赫</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18730926500</string>
			<key>hobby</key>
			<string>①睡觉②天文③读书④周易⑤历史⑦军事⑧美女⑨玩........................................注;谁，吻我之眸，遮我半世流离；谁，抚我之面，慰我半世哀伤；谁，携我之心，融我半世冰霜；谁，扶我之肩，驱我一世沉寂。谁，唤我之心，掩我一生凌轹。谁，弃我而去，留我一世独殇；谁，可明我意，使我此生无憾；谁，可助我臂，纵横万载无双；谁，可倾我心，寸土恰似虚弥；谁，可葬吾怆，笑天地虚妄，吾心狂。伊，覆我之唇，祛我前世流离；伊，揽我之怀，除我前世轻浮。执子之手，陪你痴狂千生；深吻子眸，伴你万世轮回。执子之手，共你一世风霜；吻子之眸，赠你一世深情。我，牵尔玉手，收你此生所有；我，抚尔秀颈，挡你此生风雨。予，挽子青丝，挽子一世情思；予，执子之手，共赴一世情长；曾，以父之名，免你一生哀愁；曾，怜子之情，祝你一生平安! 引</string>
		</dict>
		<dict>
			<key>name</key>
			<string>武传亮</string>
			<key>age</key>
			<string>26</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15097360575</string>
			<key>hobby</key>
			<string>本人喜欢球类运动，如乒乓球、篮球、羽毛球。喜欢与人交流，与人交流是快乐的，同时能够收获很多，每个人都有不同的闪光点，与他们交往何以吸取经验，了解自己所不了解的东西。喜欢玩游戏，枪战的有CF、CS、逆战等，对战的就是LOL，喜欢玩法师类英雄。喜欢团队合作，自我感觉有少许大局观。喜欢跳舞，尤其是看跳舞。喜欢读书，小说，玄幻的和军事的，名著，就是和《说岳全转》类似的传奇人物型，散文等。对陌生事物接受比较快。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王赛</string>
			<key>age</key>
			<string>26</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13731352102</string>
			<key>hobby</key>
			<string>热爱篮球，也喜欢静静的喝茶，发呆。性格积极乐观，为人随和，有良好的团队意识，抗压能力强。</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>许晟馗</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13051611598</string>
			<key>hobby</key>
			<string>性格开朗，健谈，喜欢结交各种朋友，喜欢研究东西，人帅就更应该多读书，有自己的点子觉得可行就喜欢大胆的去实践。喜欢和朋友们一起玩轮滑，打打篮球，游个泳，以前瘦的时候还喜欢街舞，吉他，现在只能欣赏；喜欢和朋友们偶尔小酌一下，吹吹牛13，侃侃大山；喜欢玩玩航模，搞搞飞行器，更喜欢玩玩硬件，做点小开发，搞搞嵌入式。比较喜欢的一句话就是“世界这麽大，人生这麽短，我还想去多看看，怎么能拿来睡觉呢！”</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐尧</string>
			<key>age</key>
			<string>26</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15810104307</string>
			<key>hobby</key>
			<string>爱好广泛，喜欢各种体育运动。早年格外热衷踢足球，后因种种原因荒废已久。后陆续拓展其他运动，健身，攀岩，滑雪，羽毛球，乒乓球等，并且在不断尝试各种运动方式。喜欢旅行，喜欢体验各种不同文化氛围下的生活方式，欣赏各地的自然与人文景观，尝试各种新鲜独特的美食。喜欢读书，看电影，听音乐。阅读文学类，历史文化类作品，从不同的作品中，体味不同的人生。对于电影、音乐的类型的选择比较广泛。因专业原因，对书法、绘画、篆刻等传统文化感兴趣，并且喜欢探寻艺术作品背后的故事。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邢晓伟</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13253156513</string>
			<key>hobby</key>
			<string>平时没事喜欢看看电影听听音乐，不太喜欢阴暗风格的电影，比较喜欢明朗欢快的电影。对于音乐，偏爱轻柔古风类型的音乐，自己听着好听能够放松心情就好。有时间的话也会和好哥们开黑，打打游戏。一直希望能够有条件可以好好地健健身，锻炼一下身体。</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>杨勇超</string>
			<key>age</key>
			<string>21</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15612711652</string>
			<key>hobby</key>
			<string>我是杨勇超，我这个人比较腼腆，话比较少，思维不太清晰，没什么特长，也没有什么喜欢的东西，唯一会的可能就是吹牛逼，有人问我，你怎么这么胖，我想说，我曾经瘦过；有人问我，你话怎么那么少。嘘，安静，我要做一个安静的”美男子“；有人问我，为什么没有对象，我只能告诉你，我在等一个眼瞎的姑娘。如果你看上了我，不用表白，不要撩我，直接下药！下药！下药！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>于成庆</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15076974664</string>
			<key>hobby</key>
			<string>我来自河北承德丰宁，性格活泼开朗，喜欢交友、锻炼、唱歌、看电影…个人平时比较大大咧咧的不喜欢计较，喜欢发现接触新鲜的事物，不太喜欢墨守成规一格不变的生活方式，对于游戏是没有一点兴趣。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>杨旭东</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18332285910</string>
			<key>hobby</key>
			<string>爱看动画片，比如：魁拨，功夫熊猫，还有疯狂动物城。爱学习，爱劳动，热爱中国共产党。平时玩玩手机游戏，看看小说，四大名著，金庸小说均有涉猎。无聊的时候听听音乐，跟朋友打会儿台球。有事没事出去压压马路，找老头儿聊会天。别的爱好还正在培养，暂时就这些了。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闫文通</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18311019901</string>
			<key>hobby</key>
			<string>我叫闫文通，来自河南，在农村长大。爱好挺多的，喜欢玩鱼，天气暖和的时候经常下河逮鱼，比如摸鱼，下网逮，还有钓鱼。小时候也喜欢游泳，夏天经常跟着小伙伴们去河里玩个半天。那个时候喜欢听歌，周杰伦的歌给听了个遍，才小学5、6年级吧。。初中爱好比较简单了，睡觉，吃，还有看书，三国演义记得那个时候看了3遍，还有拿破仑我也看完了。高中以后喜欢玩游戏，喜欢玩些单机鬼泣，真三国，三国系列的游戏。后来迷上了网游。大学里的话就喜欢玩电脑了，看看电影听听音乐，玩贴吧，lol玩了3年。。。目前游戏也不玩了，电影也不看了，代码是第一爱好，累了浮躁了就听听音乐看看贴吧撇撇妹子，算是一种解压方式吧。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>岳桂庆</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18230016791</string>
			<key>hobby</key>
			<string>电影艺术。世界之大，无穷无尽，人是无法全部认知的。我的好奇心很强，小时候通常会像话唠一样问很多问题。网络上内容丰富而繁杂，基本可以一个搜索开始之后可以查一天。电影或者书的内容与网络上得到发散分布的内容相比更加单独完整，简单概括。好电影让人安静，不多话。</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>周吉彬</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18642838782</string>
			<key>hobby</key>
			<string>健康是一切的基础，所以喜欢运动，每周六会在后面的清河沿着河跑十几里地，有时间的时候会健健身。以前在家的时候还经常做菜，现在没时间没地方就很久没做过了，所以有个愿望就是工作了找个有个大厨房的房子，喜欢吃各种水果，不吃难受。喜欢听各种歌，不挑，各种类型都行。喜欢看电影，在电影院看各种类型都行，只要视觉内容满足一项，自己在电脑上看一般只看文艺片。喜欢看书，看得不多，以前有时间没看多少，现在想看也没时间看了。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张河山</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>13256621598</string>
			<key>hobby</key>
			<string>特别喜欢计算机，精通装系统，清灰，修电脑，而且还能刷机，root，换屏幕，请叫我：修电脑的。他们都叫我LOL大神，最喜欢用寒冰打上单，现在段位塑料3，如果有妹子玩游戏，我可以带你们到顶级。我性格开朗,亦静亦动,本着一颗诚心与人交往,有较强的表达能力,同时也很乐意倾听,懂得自我反省.我品尝过失败,经历过迷惘,但最终在集体生活中慢慢成长起来,形成了良好的性格品质.我富有责任感,敢于面对挑战,有强烈的进取心和优秀的团队精神,善于与他人协同作战。大学期间,我踏实肯干,努力不懈,最终暑期社会实践等各种社会工作和实践活动中锻炼和提高了自己,更在这个过程中发现了自我,认可了自己,增强了自信心.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张延</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>18333138748</string>
			<key>hobby</key>
			<string>我是一个长得像新版樱桃小丸子的,生活大部分过得像处女座的,学习像袁湘琴那样的女孩,与人相处时,内心娇滴滴,外表女汉子;爱好单一:街上瞎溜达,喜欢各种各样口味甜的东西,目前正在培养自己吃辣的习惯;更喜欢研究各种护肤,健身方面的东西.目前的状态就是学习ios,学习ios,学习ios,因为我想赚钱,想赚钱,想赚钱;,然后做我想做的事,再然后放肆闹;目前我最需要就是改变自己的急躁心态,勇敢面对自己的不足,不逃避,改变自己成熟起来.东哥要的三百字,我轻而易举就写出来了.当时听到三百字的时候,我内心的小九九是:啊,三百字;现在我的心理活动是:三百字,辣么少,敢不敢多说点!!!(这部分言论均是饭前所写,大脑供血不足,若有戳中什么,就当大家没看到,蚂蚁牙黑,蚂蚁牙黑黑~~~~~~~).</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张达</string>
			<key>age</key>
			<string>22</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>15612706178</string>
			<key>hobby</key>
			<string>吾之所爱，倾吾之心。生命已过去多年，如今的你在哪里，经历怎样的故事，怎样的幸福、伤痛。今天我依然能感到，那清风掠过的春天，掠过了城市掠过村庄，掠过我们曾经年少胸膛。栉风沐雨，依旧坚强；旗帜鲜明，辟地开疆。无论在哪里，无论你欢笑还是哭泣。马路上，大街中，行人依旧，依然灯红酒绿，依然那么多瞬间。让你羡慕，让你眼红。但，无论何时、何地你必须由衷而坚定地相信。总有那么一天 —-苦尽甘来。正题啊：本人男，喜欢听歌，唱歌。最喜欢的明星：张宇，薛之谦，张惠妹。小小的太阳，演员，听海都是本人毕生最爱的歌曲之一。喜欢的动物驴，所以网名叫：rundonkey.唯一的信仰：何时何地，何种遭遇，保持微笑（脆弱亦是坚强的一半。眼泪也是开心的半边）</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张鹏</string>
			<key>age</key>
			<string>23</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18332136830</string>
			<key>hobby</key>
			<string>打篮球,打台球,打游戏,平常无聊了还会看各种电影,听各种音乐,然而,这些并没有什么,我最大的特点就是忠实诚信,讲原则，说到做到，决不推卸责任;有自制力，做事情始终坚持有始有终，从不半途而废;肯学习,有问题不逃避,愿意虚心向他人学习;自信但不自负,不以自我为中心;愿意以谦虚态度赞扬接纳优越者,权威者;会用100%的热情和精力投入到工作中;平易近人。为人诚恳,性格开朗,积极进取,适应力强、勤奋好学、脚踏实地，有较强的团队精神,工作积极进取,态度认真.</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周灿</string>
			<key>age</key>
			<string>21</string>
			<key>gender</key>
			<string>female</string>
			<key>phoneNumber</key>
			<string>17736911263</string>
			<key>hobby</key>
			<string>爬山，俗话说：“人老脚先衰。”人的脚有劲，就能跑能跳能走，就不易衰老。就练脚劲来说，爬山的效果最好。脚是人体之根，经常爬山可以增强下肢力量，提高关节灵活性，促进下肢静脉血液回流，预防静脉曲张、骨质疏松及肌肉萎缩等疾病，也是人对自然的挑战，也是对自我的挑战。当你脚踩顶峰“一览众山小”时，就会享受到回归自然的喜悦，平添征服自然的豪气，而这种感觉对于深受“现代文明病”困扰的都市人无疑是最好的“保健品”，所以就有句谚语叫：迈开腿管住嘴。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>庄辉</string>
			<key>age</key>
			<string>24</string>
			<key>gender</key>
			<string>male</string>
			<key>phoneNumber</key>
			<string>18731902901</string>
			<key>hobby</key>
			<string>幻想主义者-优点不多缺点不少，幻想自己成为电影主人公一样的人，无论本事大小总是机遇不断，贵人环绕，在成长中进步，完善自己。乐观主义者-无论什么事，总会去想它给我带来了什么好的作用，激励我了？警醒我了？还是…… 不管好事坏事，乐观积极对待，天空总有晴朗之时。动漫-《死神》《火影》《犬夜叉》《妖精的尾巴》《秦时明月》《成龙冒险记》等。电影-《功夫熊猫》《驯龙记》《十二生肖》《猛龙过江》成龙系列武打电影）等。综艺节目-《笑傲江湖》《笑星大联盟》跑男》爸爸去哪了》挑战不可能》等。音乐-《爱的供养》《美丽的神话》千年缘》仙侠类音乐），DJ街舞类提神音乐等。手工-折纸、简单裁剪纸张、拆卸-破坏、捏泥巴（O(∩_∩)O哈哈~）。运动-羽毛球、乒乓球、台球、篮球（都是球）；走-跳-跑、街舞、曳步舞（精神病）。</string>
		</dict>
	</array>
</dict>
</plist>
